.root {
    /**/
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 32px;
    margin-bottom: 32px;
}

.item {
    box-sizing: border-box;
}

.actions {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
}

.form {
    position: relative;
    display: flex;
    gap: 12px;
    flex-direction: column;
    width: 100%;
    z-index: 1;
}
