.root {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 40px;
    line-height: 48px;
    color: #333;
    font-weight: 700;
    margin-bottom: 32px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 32px;
    margin-bottom: 32px;
}

.item {
    border: 1px solid #000;
    aspect-ratio: 285/446;
    box-sizing: border-box;
}

.action {
    padding: 12px 78px;
    border: 1px solid #B88E2F;
    font-size: 16px;
    line-height: 20px;
    color: #B88E2F;
}
